.body{
    margin:0;
    padding:0;
    background: url(print.jpg);
    background-size:cover;

}
.box1{
    margin-left:50px;
    width: max-content;
    padding: 0;

}
.box2{
    border: 50% ,50%;
    margin-left:50px;
    width: max-content;
    height: fit-content;

}


.container{
    border:auto;
    display: flex;
    margin-top:-50px;
    margin:0;
    padding:10px;


}
.voterswindow, .resultwindow:hover{
    justify-content: space-evenly;
    display: flex;

}
.image{
    width: 300px;
    height:200px;
}
.nav-wraper1{
    margin-right: 20px;
    text-transform: uppercase;
    display:flex;
    padding:10px;
    justify-content: space-between;
    margin-top:-40px;
}
.nav-wraper2{
    margin-right: 20px;
    text-transform: uppercase;
    display:flex;
    padding:10px;
    justify-content: space-between;
    margin-top:-150px;
   
}
.nav-wraper1:hover{
    border-bottom: 3px solid red;
}
.nav-wraper2:hover{
    border-bottom: 3px solid red;
}
.submit__btn{
    justify-content:center;
    width: 5em;
    height: 3em;
    border: 2px solid cyan;
    box-sizing:content-box;
    padding: 0px 50px;
    cursor: pointer;
    font-style: bold;
    border-radius: 30px;
    text-align: center;
    outline:none;
    margin-right :50px;
    margin-top: 50% 50%;
}
.divform{
    justify-content: space-evenly;
}
.popup{
    width: 400px;
    background: blueviolet;
    border-radius: 6px;
    position:space-between;
    top:100%;
    left:50%;
    right:50%;
    transform:translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0px 20px 20px;
    visibility: hidden;
    transition:transform 0.4s, top 0.4s;
    margin-right: 50%;
    text-transform: uppercase;

}
.openpopup{
    visibility: visible;
    top:100%;
    transform:translate(50%,-370%)scale(1);
    margin-bottom: -300%;
    justify-content: space-evenly;
}
.popup h2{
    font-size:38px;
    font-weight: 500;
    margin:30px 0 10px;
}
.popup button{
    width: 30%;
    margin-bottom: -100px;
    justify-content: space-between;
    outline:none;
    border-radius: 4px;
    box-shadow:0 5px 5px rgb(0,0,0,0.2);

}