body{
    background: url(print.jpg);
    background-size:cover;
    margin: 0px;
    
}
.container{
    display: grid;
    grid-template-columns:  1fr;
    justify-content: space-between;
}
.nav-wraper{
    display:flex;
    justify-content: space-between;
    padding: 38px;
    height: 22px;
    border-bottom: 1px solid;
}
.nav-wraper >.left-side >div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 700;
    color:cyan
}

.nav-wraper >.right-side >div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 700;
    color:cyan
}
.left-side:hover{
    border-bottom: 3px solid red;
}
.right-side:hover{
    border-bottom: 3px solid red;
}
/*icon styles*/
.icon-wrappers{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.icon-wrap{
    position:relative;

}
.logo-wrapper img{
width:320px;
margin-bottom:20px;
align-items:center;
height: 340px;
}
.img-darken{
    transition:1s;
    filter:brightness(10%);
}